$white: #ffffff;
$black: #000000;
$red: #ff0000;
$blue: #0000ff;
$gray: #808080;
$salmon: #FA8072;
$mercari-blue: #0095ee;
$mercari-red: #ea352d;
$note-green: #2cb696;
$dark-bg: #2d3d54;
$super-gray: #eeeeee;