.show_content {
  &__left_inner {
    width: 100%;
    margin: 0 auto;
    &__post_wrap {
      width: 85%;
      max-width: 800px;
      margin: 72px auto 0;
      position: relative;
      padding: 0 0 64px;
      &__post_title {
        margin: 0 0 8px;
        font-weight: normal;
        letter-spacing: 0.7px;
      }
      &__post_data {
        margin: 0 0 32px;
        color: #555;
        font-size: 12px;
      }
      &__post_image {
        width: 100%;
      }
      &__post_text {
        margin: 64px 40px 0;
      }
    }
    &__edit_delete_button {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      &__submit {
        font-size: 16px;
        position: relative;
        margin: 0 0 0 12px;
        .edit_button, .delete_button {
          font-size: 16px;
          color: $salmon;
        }
      }
    }
  }
}